<nb-card>
  <nb-card-header>
    <div class="d-flex flex-row justify-content-between">
      <h5>รายการผู้ติดต่อ</h5>

      <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input type="text" placeholder="ค้นหาผู้ติดต่อ" nbInput (keyup)="tableFilter($event)">
      </nb-form-field>

    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="d-flex flex-row justify-content-between">
      <button nbButton shape="semi-round" status="primary">
        <nb-icon icon="plus"></nb-icon>เพิ่มผู้ติดต่อ
      </button>

    </div>
  </nb-card-body>
  <nb-card-body class="px-0">

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Sort by number">
          No.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Sort by weight">
          Weight
        </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Sort by symbol">
          Symbol
        </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">ไม่มีข้อมูล</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>


  </nb-card-body>
</nb-card>
