@import '../../../@theme/styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  .mat-table {
    box-shadow:none;
    width: 100%;
    font-family:  unquote('Roboto,Sarabun');
  }


  .mat-row .mat-cell {
    cursor: pointer;
    border-bottom: 1px solid rgba($color: whitesmoke, $alpha: 0.9);
    // border-top: 1px solid transparent;

  }

  .mat-row:hover .mat-cell {
    background: whitesmoke;
  }

  .mat-column-select{
    width: 10% !important;
  }

  .mat-column-code{
    width: 10% !important;
  }

  .mat-column-action{
    width: 10% !important;
  }

}
