<div class="row">
  <div class="col-lg-12">

    <nb-layout>
      <nb-layout-header>
        <div class="d-flex flex-row justify-content-between">
          <h5>รายการชั่งน้ำหนัก</h5>
          <button nbButton size="small" ghost>
            <nb-icon icon="more-vertical"></nb-icon>
          </button>
        </div>
      </nb-layout-header>

      <nb-sidebar class="menu-sidebar" tag="menu-sidebar2">
        xxxx
      </nb-sidebar>

      <nb-layout-column>
        xxxxx
      </nb-layout-column>

    </nb-layout>

    <!--
    <nb-card>
      <nb-card-header>
        <div class="d-flex flex-row justify-content-between">
          <h5>รายการชั่งน้ำหนัก</h5>
          <button nbButton size="small" ghost>
            <nb-icon icon="more-vertical"></nb-icon>
          </button>
        </div>

      </nb-card-header>
      <nb-card-body>
        <nb-layout>
          <nb-layout-column class="colored-column-success">Layout Content</nb-layout-column>
          <nb-layout-column class="colored-column-success">Layout Content</nb-layout-column>
        </nb-layout>

      </nb-card-body>
    </nb-card> -->

  </div>
</div>
