<nb-card>
  <nb-card-header>
    <div class="pb-lg-0 pb-2 d-flex align-items-baseline ">
      <h5>อัพเดตรูปโปรไฟล์</h5>
    </div>
    <div>
      <nb-icon icon="close" pack="eva"></nb-icon>
    </div>
  </nb-card-header>

  <nb-card-body>
  </nb-card-body>

  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <div>
        <button type="button" nbButton>ปิด</button>
      </div>
      <div>

        <button type="button" class="ml-2" nbButton status="primary">
          <nb-icon [icon]="'save'" pack="eva"></nb-icon>
          <span>บันทึก</span>
        </button>
      </div>

    </div>

  </nb-card-footer>
</nb-card>
