@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@include nb-install-component() {
	position: relative;
	display: block;
	overflow: hidden;

	nb-card {
		position: relative;
	}

	nb-card-body.payment {
		border-top: 1px solid nb-theme(border-basic-color-3);
	}

	nb-select ::ng-deep {
		.select-button {
			min-width: 0;
			// width: 6rem;
		}
	}

	.subtitle {
		color: nb-theme(text-hint-color);
	}

	.container {
		display: flex;
		flex-direction: row;
	}

  .contain-info-left{
    @media (min-width: #{$screen-sm-min}){
      border-right: 2px dashed nb-theme(border-basic-color-3);
    }
  }

  .contain-info-right{
    padding-top: 1rem;
    border-top: 2px dashed nb-theme(border-basic-color-3);
    @media (min-width: #{$screen-sm-min}){
      padding-top: 0;
      border-top: 0px dashed nb-theme(border-basic-color-3);
    }
  }


	.status-input {
		display: inline-flex;
		padding: 0.5625rem;

		> * {
			margin: 1px 6px;
			// cursor: pointer;
		}
	}

	.input-live-weight {
		font-size: 30px;
		text-align: end;
		border: 2px solid nb-theme(color-info-500);
	}

	table {
		thead {
			tr {
				border-top: 1px solid nb-theme(border-basic-color-4);
				border-bottom: 2px solid nb-theme(border-basic-color-4);
			}
			th {
				vertical-align: middle;
				text-align: center;
				border: none;
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid nb-theme(border-basic-color-4);
			}
			th {
				vertical-align: middle;
				text-align: start;
				border: none;
			}
			td {
				vertical-align: middle;
				text-align: center;
				border: none;
			}
			td:last-child {
				text-align: end;
			}
		}
		tfoot {
			th,
			td {
				vertical-align: middle;
				text-align: end;
				border: none;
			}
			tr:nth-child(2) > td {
				border-bottom: 1px solid nb-theme(border-basic-color-5);
			}
			tr:last-child > td {
				border-top: 1px solid nb-theme(border-basic-color-5);
				border-bottom: 3px double nb-theme(border-basic-color-5);
				font-weight: bold;
			}
		}
	}
}
