<form [formGroup]="weightingForm" id="weightingForm" #wForm (ngSubmit)="onSubmitWeightSheet()">
  <!-- <form *ngIf="form$ | async as form" [formGroup]="form" id="weightingForm" #wForm
  (ngSubmit)="onSubmitWeightSheet()"> -->
  <!-- <ul>
    <li *ngFor="let item of (products$ | async).products">{{item.id}}</li>
  </ul> -->
  <!-- <ul>
    <li *ngFor="let type of (weightingTypes )">{{type.th}}</li>
  </ul> -->

  <nb-card>
    <nb-card-header>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="pb-lg-0 pb-2 d-flex flex-md-column">
          <h5>ใบบันทึกน้ำหนัก</h5>
          <!-- <div class="subtitle pl-lg-0 pl-2 align-self-md-baseline align-self-end">
      บันทึกน้ำหนักสินค้า
    </div> -->
        </div>
        <div>
          <button type="button" nbButton [nbContextMenu]="menuItems" size="small" status="success">
            Show Menu
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <!-- contain-info-left -->
        <div class="contain-info-left col-sm-6 ">

          <div class="form-group row align-items-baseline">
            <label for="id" class="label col-sm-3 col-form-label">เลขที่ใบชั่ง
            </label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
              <strong>{{this.weightSheet.id}} </strong>
              <!-- <nb-icon nbPrefix icon="info" pack="eva" status="info" class="ml-2">
              </nb-icon> -->
              <nb-tag-list>
                <nb-tag status="info" class="ml-2" appearance="filled" [size]="'tiny'" text="ใหม่">
                </nb-tag>
              </nb-tag-list>
            </div>
          </div>

          <div class="form-group row align-items-baseline ">
            <label for="car" class="label col-sm-3 col-form-label">ทะเบียนรถ</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
              <nb-form-field class="mr-2">
                <input type="text" nbInput id="car" name="car" placeholder="ทะเบียนรถ"
                  (keydown.space)="$event.preventDefault()"
                  [status]="(weightingForm.get('car').errors && this.weightingForm.get('car').touched) ? 'danger' : 'basic'"
                  formControlName="car" [matAutocomplete]="car">

                <div nbSuffix class="status-input">
                  <button nbSuffix nbButton ghost type="button"
                    *ngIf="!this.stateCar.isNew && !this.weightingForm.get('car').errors && this.weightingForm.get('car').touched && this.weightingForm.get('car').value !== ''"
                    nbTooltip="แสดงข้อมูลทะเบียนรถ" nbTooltipPlacement="right"
                    nbTooltipStatus="primary" (click)="openCarInfo()">
                    <nb-icon [icon]="'alert-circle'" status="primary"></nb-icon>
                  </button>

                  <button nbSuffix nbButton ghost type="button"
                    *ngIf="this.stateCar.isNew && !this.weightingForm.get('car').errors && this.weightingForm.get('car').value !== ('' || null)"
                    nbTooltip="เพิ่มเติมข้อมูลทะเบียนรถ" nbTooltipPlacement="right"
                    nbTooltipStatus="warning" (click)="openCarInfo()"
                    [icon]="'question-mark-circle'">
                    <nb-icon [icon]="'alert-circle'" status="warning"></nb-icon>
                  </button>

                  <nb-icon
                    *ngIf="this.weightingForm.get('car').errors  && this.weightingForm.get('car').touched"
                    [icon]="'alert-triangle'" status="danger" pack="eva"
                    nbTooltip="กรุณาใส่ทะเบียนรถ" nbTooltipPlacement="right"
                    nbTooltipStatus="danger">
                  </nb-icon>
                </div>

              </nb-form-field>

              <mat-autocomplete autoActiveFirstOption #car="matAutocomplete"
                (optionSelected)="onSelectCar($event.option.value)">
                <mat-option *ngFor="let car of filteredCars | async" [value]="car">
                  {{car.plateLCN }} {{car.plateLCP}}
                </mat-option>
              </mat-autocomplete>

            </div>
          </div>

          <div class="form-group row align-items-baseline ">
            <label for="type" class="label col-sm-3 col-form-label">ประเภท</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
              <nb-form-field class="mr-2">
                <input type="text" nbInput id="type" name="type" placeholder="ประเภท"
                  [status]="(weightingForm.get('type').errors && this.weightingForm.get('type').touched) ? 'danger' : 'basic'"
                  formControlName="type" [matAutocomplete]="type">

                <div nbSuffix class="status-input">
                  <nb-icon
                    *ngIf="this.weightingForm.get('type').errors  && this.weightingForm.get('type').touched"
                    [icon]="'alert-triangle'" status="danger" pack="eva"
                    nbTooltip="กรุณาใส่ประเภทการชั่ง" nbTooltipPlacement="right"
                    nbTooltipStatus="danger">
                  </nb-icon>
                </div>

              </nb-form-field>

              <mat-autocomplete autoActiveFirstOption #type="matAutocomplete"
                (optionSelected)="onSelectWeightingType($event.option.value)">
                <mat-option *ngFor="let type of filteredWeightingTypes | async ; index as i"
                  [value]="type">
                  {{type.id}} - {{type.th }}
                </mat-option>
              </mat-autocomplete>

            </div>
          </div>

          <div class="form-group row align-items-baseline">
            <label for="contact" class="label col-sm-3 col-form-label">ผู้ติดต่อ</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
              <nb-form-field class="mr-2">
                <input type="text" nbInput id="contact" name="contact" placeholder="ผู้ติดต่อ"
                  (blur)="onBlur($event)" formControlName="contact" [matAutocomplete]="contact"
                  [status]="(weightingForm.get('contact').errors ) ? 'danger' : 'basic'">

                <div nbSuffix class="status-input">
                  <button nbSuffix nbButton ghost type="button"
                    *ngIf="!this.weightingForm.get('contact').errors && this.weightingForm.get('contact').touched && this.weightingForm.get('contact').value !== ''"
                    nbTooltip="แสดงข้อมูลผู้ติดต่อ" nbTooltipPlacement="right"
                    nbTooltipStatus="primary" (click)="openContactInfo()">
                    <nb-icon [icon]="'alert-circle'" status="primary"></nb-icon>
                  </button>

                  <!-- <button nbSuffix nbButton ghost type="button"
                    *ngIf="this.stateCar.isNew && !this.weightingForm.get('contact').errors && this.weightingForm.get('contact').value !== ('' || null)"
                    [icon]="'question-mark-circle'" status="warning">
                    <nb-icon [icon]="'alert-circle'" status="warning"></nb-icon>
                  </button> -->

                  <nb-icon *ngIf="this.weightingForm.get('contact').errors"
                    [icon]="'alert-triangle'" status="danger" pack="eva"
                    nbTooltip="ไม่พบข้อมูลผู้ติดต่อ" nbTooltipPlacement="right"
                    nbTooltipStatus="danger">
                  </nb-icon>
                </div>

              </nb-form-field>

              <mat-autocomplete autoActiveFirstOption #contact="matAutocomplete"
                (optionSelected)="onSelectContact($event.option.value)">
                <mat-option *ngFor="let contact of filteredContacts | async" [value]="contact">
                  <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
                  <span>{{contact.id}} - {{contact.displayName}}</span> &nbsp;
                  <!-- <span>{{contact.lastName}}</span> -->
                  <!-- <small>Population: {{state.population}}</small> -->
                </mat-option>
              </mat-autocomplete>

            </div>

          </div>
          <div class="form-group row align-items-baseline">
            <label for="product" class="label col-sm-3 col-form-label">สินค้า</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
              <nb-form-field class="mr-2">
                <input type="text" nbInput id="product" name="product" placeholder="สินค้า"
                  [status]="(weightingForm.get('product').errors && this.weightingForm.get('product').touched) ? 'danger' : 'basic'"
                  formControlName="product" [matAutocomplete]="product">

                <div nbSuffix class="status-input">
                  <nb-icon
                    *ngIf="this.weightingForm.get('product').errors  && this.weightingForm.get('product').touched"
                    [icon]="'alert-triangle'" status="danger" pack="eva"
                    nbTooltip="กรุณาใส่ข้อมูลสินค้าให้ถูกต้อง" nbTooltipPlacement="right"
                    nbTooltipStatus="danger">
                  </nb-icon>
                </div>
              </nb-form-field>

              <mat-autocomplete autoActiveFirstOption #product="matAutocomplete"
                (optionSelected)="onSelectProduct($event.option.value)">
                <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                  <small>{{product.id}}</small> -
                  <span>{{product.name}}</span>
                </mat-option>
              </mat-autocomplete>


            </div>
          </div>

          <div class="form-group row align-items-baseline">
            <label for="price" class="label col-sm-3 col-form-label">ราคา</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">

              <nb-form-field class="mr-2">
                <input type="text" nbInput id="price" name="price" placeholder="ราคา"
                  formControlName="price">

                <div nbSuffix class="status-input">
                  <nb-icon *ngIf="this.weightingForm.get('price').errors " [icon]="'alert-triangle'"
                    status="danger" pack="eva"
                    nbTooltip="กรุณาใส่ตัวเลขมากกว่าหรือเท่ากับ 0 ขึ้นไป และถ้ามีจุดทศนิยมไม่ควรเกิน 2 ตำแหน่ง"
                    nbTooltipPlacement="right" nbTooltipStatus="danger">
                  </nb-icon>
                </div>
              </nb-form-field>

            </div>
          </div>

          <div *ngIf="weightSheet.status===null" class="form-group row align-items-baseline">
            <label for="cut-weight" class="label col-sm-3 col-form-label">ตัดน้ำหนัก</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">

              <nb-form-field class="mr-2">
                <input type="text" nbInput id="cutWeight" name="cutWeight" placeholder="หักน้ำหนัก"
                  [status]="(weightingForm.get('cutWeight').errors) ? 'danger' : 'basic'"
                  formControlName="cutWeight">

                <div nbSuffix class="status-input">
                  <nb-icon
                    *ngIf="(this.weightingForm.get('cutWeight').value !== '') && !this.weightingForm.get('cutWeight').errors"
                    [icon]="'alert-circle'" status="primary" pack="eva"
                    nbTooltip="หักน้ำหนักระบบคิดเป็นหน่วยกิโลกรัม หรือ ใส่ % ต่อท้ายระบบคิดหักเป็นเปอร์เซ็นต์"
                    nbTooltipPlacement="right" nbTooltipStatus="primary">
                  </nb-icon>

                  <nb-icon *ngIf="this.weightingForm.get('cutWeight').errors "
                    [icon]="'alert-triangle'" status="danger" pack="eva"
                    nbTooltip="กรุณาใส่ตัวเลขมากกว่าหรือเท่ากับ 0 ขึ้นไป" nbTooltipPlacement="right"
                    nbTooltipStatus="danger">
                  </nb-icon>
                </div>
              </nb-form-field>

            </div>
          </div>


          <div class="form-group row ">
            <label for="notes" class="label col-sm-3 col-form-label">หมายเหตุ</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
              <nb-form-field class="mr-2">
                <textarea nbInput id="notes" name="notes" placeholder="หมายเหตุ"
                  formControlName="notes"></textarea>

                <div nbSuffix class="status-input"></div>
              </nb-form-field>
            </div>
          </div>

          <div class="form-group row align-items-baseline">
            <strong>ข้อมูลลูกค้า</strong>
          </div>
          <div class="form-group row align-items-baseline">
            <label for="price" class="label col-sm-3 col-form-label">ยอดสะสม 3 เดือน</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
            </div>
          </div>
          <div class="form-group row align-items-baseline">
            <label for="price" class="label col-sm-3 col-form-label">ส่งของล่าสุด</label>
            <div class="col-sm-9 d-inline-flex justify-content-start">
            </div>
          </div>
        </div>
        <!-- End contain-info-left -->
        <!-- contain-info-right -->
        <div class="contain-info-right col-sm-6 ">

          <div class="form-group row align-items-center ">
            <label for="" class="label col-sm-4 col-form-label ">
              น้ำหนักเครื่องชั่ง
              <!-- <nb-icon nbPrefix icon="edit" pack="eva" status="info" class="ml-2"></nb-icon> -->
            </label>
            <div class="col-sm-8">
              <nb-form-field>
                <!-- <nb-icon nbPrefix icon="checkmark-outline" pack="eva"></nb-icon> -->
                <nb-icon nbPrefix icon="loader-outline" pack="eva"></nb-icon>
                <input type="text" id="liveWeight" name="liveWeight" nbInput
                  class="input-live-weight" formControlName="liveWeight" fullWidth readonly>
                <p nbSuffix>KG.</p>
              </nb-form-field>
            </div>
          </div>

          <div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">วันที่บันทึก</th>
                  <th scope="col">น้ำหนัก</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <th scope="row">เข้า</th>
                  <td>{{clock | date:'d/MM/yyyy, h:mm:ss'}}</td>
                  <td>23,400</td>
                </tr>
                <tr *ngIf="weightSheet.status !== null">
                  <th scope="row">ออก</th>
                  <td>14/05/2021 22:34:32</td>
                  <td>15,400</td>
                </tr>

              </tbody>
              <tfoot *ngIf="weightSheet.status !== null">
                <tr>
                  <th colspan="2">
                    น้ำหนักสินค้า
                  </th>
                  <td>8,000</td>
                </tr>
                <tr>
                  <th colspan="2">
                    <span>ตัดน้ำหนัก</span>
                  </th>
                  <td>0</td>
                </tr>
                <tr>
                  <th colspan="2">
                    น้ำหนักสุทธิ
                  </th>
                  <td>8,000</td>
                </tr>
                <tr>
                  <th colspan="2">
                    ราคา
                  </th>
                  <td>x 10.00</td>
                </tr>
                <tr>
                  <th colspan="2">
                    ยอดสุทธิ
                  </th>
                  <td>80,000.00</td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </nb-card-body>

    <nb-card-body class="payment" *ngIf="weightSheet.status === 'check-in' && 'check-out'">
      <div class="d-flex flex-column flex-md-row align-items-baseline">
        <div>ชำระเงิน (หากยังไม่ชำระ หรือชำระไม่ครบจะตั้งเป็นเจ้าหนี้การค้าไว้)</div>
        <div class="form-group">
          <label for="" class="label col-form-label m-3">วันที่ชำระ</label>
          <div class="d-inline-flex justify-content-start">
            <input type="text" nbInput id="product" placeholder="วันที่">
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="label col-sm-2 col-form-label">การชำระเงิน</label>
        <div class="col-sm-10">
          <nb-radio-group class="d-flex" name="payment">
            <nb-radio value="cash" checked>
              เงินสด
            </nb-radio>
            <nb-radio value="e-transfer">
              โอนเงิน
            </nb-radio>
          </nb-radio-group>
          <input type="text" nbInput id="product" placeholder="หักน้ำหนัก">
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <ul>
        <li>xxx</li>
      </ul>
      <div class="d-flex justify-content-end">
        <button type="submit" class="mr-2" nbButton status="primary">บันทึก</button>
        <button type="button" nbButton status="danger"
          (click)="onResetWeightSheet()">รีเซ็ต</button>
        <button type="button" nbButton status="danger" (click)="onTest()">ทดสอบ</button>
      </div>
    </nb-card-footer>

    <!-- <app-weighting-in [showVisitorsStatistics]="false">
<nb-tabset>
  <nb-tab tabTitle="ข้อมูลผู้ขาย">
    <p>List of <strong>ข้อมูลผู้ขาย</strong>.</p>
  </nb-tab>
</nb-tabset>
</app-weighting-in> -->
  </nb-card>
</form>
