<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Using the Grid</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="inputPassword2" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Radios</label>
            <div class="col-sm-9">

            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">Sign in</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Basic form</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label">Email address</label>
            <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="label">Password</label>
            <input type="password" nbInput fullWidth id="exampleInputPassword1"
              placeholder="Password">
          </div>
          <div class="form-group">
          </div>
          <button type="submit" nbButton status="danger">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>

  </div>
</div>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <h4>น้ำหนักเครื่องชั่ง</h4>

      </div>
      <div class="col-md-6">
        <div class="control-status-example">
          <input type="text" nbInput fullWidth status="danger" placeholder="Control">
        </div>
      </div>
    </div>

  </nb-card-header>

</nb-card>

<nb-card size="medium">
  <nb-card-header>
    <h4>Weighting</h4>
    <div class="subtitle">การชั่งน้ำหนักสินค้า</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        ngx-legend-chart [legendItems]="chartLegend"
      </div>
      ngx-visitors-analytics-chart [chartData]="visitorsAnalyticsData"
    </div>
  </nb-card-body>

  <ngx-slide-out [showVisitorsStatistics]="true">content</ngx-slide-out>
</nb-card>
