@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
	position: relative;
	display: block;
	overflow: hidden;

	nb-card {
		position: relative;
	}

	nb-card-header {
		// border-bottom: none;
	}
	nb-card-body.payment {
		border-top: 1px solid nb-theme(border-basic-color-3);
	}

	nb-select ::ng-deep {
		.select-button {
			min-width: 0;
			// width: 6rem;
		}
	}

	.subtitle {
		color: nb-theme(text-hint-color);
	}

	.container {
		display: flex;
		flex-direction: row;
	}

	.input-weight-live {
		font-size: 30px;
		text-align: end;
		border: 2px solid nb-theme(color-info-500);
	}

	table {
		thead {
			th {
				vertical-align: middle;
				text-align: center;
				border-bottom: none;
				// border-bottom: 1px solid nb-theme(border-basic-color-3);
			}
		}
		tbody {
			th {
				vertical-align: middle;
				text-align: start;
				// border-bottom: 1px solid nb-theme(border-basic-color-3);
			}
			td {
				vertical-align: middle;
				text-align: center;
				// border-bottom: 1px solid nb-theme(border-basic-color-3);
			}
			td:last-child {
				text-align: end;
			}
		}
		tfoot {
			th,
			td {
				vertical-align: middle;
				text-align: end;
				border: none;
			}
		}
	}
}
