<nb-card>
  <nb-card-header>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="pb-lg-0 pb-2 d-flex flex-md-column">
        <h4>Weight Live</h4>
        <div class="subtitle pl-lg-0 pl-2 align-self-md-baseline align-self-end">
          น้ำหนักเครื่องชั่ง
        </div>
      </div>
      <div class="d-flex align-items-cente ">
        <nb-form-field>
          <!-- <nb-icon nbPrefix icon="checkmark-outline" pack="eva"></nb-icon> -->
          <nb-icon nbPrefix icon="loader-outline" pack="eva"></nb-icon>
          <input type="text" nbInput class="input-weight-live" value="12345678" fullWidth readonly>
        </nb-form-field>
        <div class="ml-2">
          KG.
        </div>
      </div>
    </div>

  </nb-card-header>

</nb-card>

<nb-card>
  <nb-card-header>
    <h4>Infomation</h4>
    <div class="subtitle pl-lg-0 pl-2 align-self-md-baseline align-self-end">
      ข้อมูลการชั่งน้ำหนัก
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="contain-info">
      <div class="form-group row">
        <label for="" class="label col-sm-2 col-form-label">ประเภท</label>
        <div class="col-sm-10">
          <nb-radio-group class="d-flex">
            <nb-radio *ngFor="let option of options" [value]="option.value"
              [checked]="option.checked">
              {{ option.label }}
            </nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="label col-sm-2 col-form-label">ทะเบียนรถ</label>
        <div class="col-sm-10">
          <input type="text" nbInput id="" placeholder="ทะเบียนรถ" [formControl]="control"
            [matAutocomplete]="car">
          <mat-autocomplete autoActiveFirstOption #car="matAutocomplete">
            <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
              {{street}}
            </mat-option>
          </mat-autocomplete>

        </div>
      </div>

      <div class="form-group row">
        <label for="" class="label col-sm-2 col-form-label">ผู้ขาย</label>
        <div class="col-sm-10">
          <input type="text" nbInput id="" placeholder="ผู้ขาย" [matAutocomplete]="vendor"
            [formControl]="stateCtrl">
          <mat-autocomplete #vendor="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
              <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
              <span>{{state.name}}</span> |
              <small>Population: {{state.population}}</small>
            </mat-option>
          </mat-autocomplete>

        </div>
      </div>
      <div class="form-group row">
        <label for="" class="label col-sm-2 col-form-label">สินค้า</label>
        <div class="col-sm-10">
          <input type="text" nbInput list="datalistProduct" id="" placeholder="สินค้า">
          <datalist id="datalistProduct">
            <option value="1 - กล่อง">
            <option value="2 - กระดาษสี">
            <option value="3 - เหล็กรวม">
            <option value="4 - เหล็กหนา">
            <option value="5 - กระป๋อง">
            <option value="6 - สังกะสี">
          </datalist>
        </div>
      </div>



      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="mr-2" nbButton status="primary">บันทึก</button>
          <button type="button" nbButton status="danger">รีเซ็ต</button>
        </div>
      </div>
    </div>
  </nb-card-body>

  <app-weighting-in [showVisitorsStatistics]="true">content</app-weighting-in>
</nb-card>


<nb-card size="medium">
  <nb-card-header>
    <h4>Waiting Out</h4>
    <div class="subtitle pl-lg-0 pl-2 align-self-md-baseline align-self-end">
      รายการรอชั่งน้ำหนักออก
    </div>
  </nb-card-header>
  <nb-card-body>

  </nb-card-body>

  <app-weighting-in [showVisitorsStatistics]="true">content</app-weighting-in>
</nb-card>
