<div class="row">
  <div class="col-md-9">
    <app-weight-sheet></app-weight-sheet>
  </div>
  <div class="col-md-3">

    <nb-card size="large" class="">
      <nb-card-header>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="pb-lg-0 pb-2 d-flex flex-md-column">
            <h4>รายการชั่งประจำวัน</h4>
            <!-- <div class="subtitle pl-lg-0 pl-2 align-self-md-baseline align-self-end">
          บันทึกน้ำหนักสินค้า
        </div> -->
          </div>
          <div>
            <button nbButton size="small" status="success">
              Show Menu
            </button>
          </div>
        </div>
      </nb-card-header>

      <nb-tabset fullWidth>
        <nb-tab tabTitle="ข้อมูลชั่งเข้า" badgeText="3" badgeStatus="danger">

          <div class="chart-container">
            <div class="summary-container">
              <div>
                <div>Marketplace</div>
                <div class="h6">3566</div>
              </div>
              <div>
                <div>Marketplace</div>
                <div class="h6">3566</div>
              </div>
            </div>
          </div>


          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="ข้อมูลย้อนหลัง" badgeText="2" badgeStatus="warning">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>

      </nb-tabset>

      <!-- <app-weighting-in [showVisitorsStatistics]="false">content</app-weighting-in> -->
    </nb-card>
  </div>
</div>
