@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

@include nb-install-component() {

  mat-icon{
    transform: scale(0.85);
  }

  nb-card {
    max-width: 800px;
    // max-height: 44.25rem;
    max-height: 50.25rem;
    margin: auto;

   	@media (min-width: #{$screen-sm-min}) {
			width: 2000px;
			// height: 860px;
      margin: auto;
		}

	}

  nb-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nb-select.prefix-name ::ng-deep {
    // min-width: 100px;

    .select-button {
      min-width:60px;
    }
  }



  .contac-code-field{
    width: 120px;
    // ::ng-deep input{
    //   text-align: center;
    // }

    nbPrefix::ng-deep{
      width: 4rem;
      margin-right: -4rem;
    }
    span{
      margin-right: -1.1rem
    }

    input{
      padding-left: 3rem;
      text-align: center;
    }
  }

  .tax-id, .branch-code{
    display: inline-flex;

    ::ng-deep input{
      width: 20px;
      text-align: center;
      padding: 0;
      border-radius: 0;
      line-height: 1.8rem;
      // margin-right: 0.7px;
      // margin-top: 0.5rem;
      // border-color: nb-theme(border-basic-color-5);
    }

    /* Chrome, Safari, Edge, Opera */
    ::ng-deep input::-webkit-outer-spin-button,
    ::ng-deep input::-webkit-inner-spin-button{
      -webkit-appearance: none;
    }
    /* Firefox */
    ::ng-deep input[type=number] {
      -moz-appearance:textfield; /* Firefox */
    }
  }

  .info-item-header{
    > *:first-child{
      margin-right: 0.5rem;
    }
  }

  // nb-select
  .info-item-detail{
    > * {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5rem 0;
    }
    >.form-group{
      align-items: baseline;
      margin-bottom: 0;
      >label{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

  }


  // prefix input
  .prefix-text-input{
    nbPrefix::ng-deep{
      width: 5rem;
      margin-right: -5rem;
    }
    span{
      text-align: center;
      margin-left: 0;
      margin-right: -1.2rem
    }

    input{
      padding-left: 4rem;
    }
  }

  nb-accordion{
    margin: -1rem -1.5rem;

    > nb-accordion-item{
      > nb-accordion-item-header{
        color: nb-theme(text-basic-color)
      }
    }
  }

  ngx-file-drop ::ng-deep > div {
    padding: 0.25rem;
    border-radius: 5px;
    height: auto;
    > div {
      flex-direction: column;
      // justify-content: space-around;
      // >:nth-child(2){
      //   color: nb-theme(text-basic-color)
      // }
    }
  }

  .upload-image-profile{
    width: 136px;
    padding: 8px;
    border-radius: 5px;
    > .upload-image-profile-action{
      padding-top: 8px;
      display: flex;
      justify-content: space-around;
    }
  }



}
