@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

@include nb-install-component() {

  nb-card {
    max-width: 800px;
    max-height: 44.25rem;
    margin: auto;

   	@media (min-width: #{$screen-sm-min}) {
			width: 2000px;
			// height: 860px;
      margin: auto;
		}

	}

  nb-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }



  .contac-code-field{
    width: 120px;
    ::ng-deep input{
      text-align: center;
    }
  }

  .tax-id, .branch-code{
    display: inline-flex;

    ::ng-deep input{
      width: 20px;
      text-align: center;
      padding: 0;
      border-radius: 0;
      line-height: 1.8rem;
      margin-right: 0.7px;
      margin-top: 0.5rem;
      border-color: nb-theme(border-basic-color-5);
    }

    /* Chrome, Safari, Edge, Opera */
    ::ng-deep input::-webkit-outer-spin-button,
    ::ng-deep input::-webkit-inner-spin-button{
      -webkit-appearance: none;
    }
    /* Firefox */
    ::ng-deep input[type=number] {
      -moz-appearance:textfield; /* Firefox */
    }
  }

  .info-item-detail{
    >.form-group{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      align-items: baseline;

    }
  }


}
