<form [formGroup]="contactForm">
  <nb-card [nbSpinner]="loading$|async">
    <nb-card-header>
      <div class="pb-lg-0 pb-2 d-flex align-items-baseline ">
        <h5>เพิ่มผู้ติดต่อ</h5>
        <div class="pl-2">
          <nb-icon [icon]="'edit-2'" status="warning" pack="eva">
          </nb-icon>
        </div>
      </div>
      <div>
        <nb-form-field class="contac-code-field">
          <span nbPrefix>รหัส :</span>
          <input type="text" trim nbInput id="code" name="code" formControlName="code"
            [status]="(contactForm.get('code').errors && contactForm.get('code').touched) ? 'danger' : 'basic' ">
        </nb-form-field>
      </div>
    </nb-card-header>

    <nb-card-body>


      <nb-accordion multi>

        <nb-accordion-item [expanded]="true" [disabled]="true">
          <nb-accordion-item-header class="info-item-header">
            <nb-icon nbPrefix icon="briefcase" pack="eva"></nb-icon>
            <strong>ข้อมูลพื้นฐาน</strong>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="info-item-detail" formGroupName="general">


              <div class="form-group">
                <label for="taxId" class="label col-sm-2 col-form-label">เลขทะเบียน 13 หลัก</label>
                <div class="col-sm-10">
                  <!-- <div class="d-flex flex-sm-row flex-column align-items-sm-end"> -->
                  <div class="row ">
                    <div class="col-sm-6 p-1">
                      <nb-form-field class="tax-id">
                        <form [formGroup]="taxIdForm">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_1"
                            placeholder="0" formControlName="tax_1" class="mr-2"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_2"
                            placeholder="0" formControlName="tax_2"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_3"
                            placeholder="0" formControlName="tax_3"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_4"
                            placeholder="0" formControlName="tax_4"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_5"
                            placeholder="0" formControlName="tax_5" class="mr-2"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_6"
                            placeholder="0" formControlName="tax_6"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_7"
                            placeholder="0" formControlName="tax_7"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_8"
                            placeholder="0" formControlName="tax_8"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_9"
                            placeholder="0" formControlName="tax_9"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_10"
                            placeholder="0" formControlName="tax_10" class="mr-2"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_11"
                            placeholder="0" formControlName="tax_11"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_12"
                            placeholder="0" formControlName="tax_12"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                          <input type="number" trim nbInput name="taxIdChar" id="tax_13"
                            placeholder="0" formControlName="tax_13"
                            [status]="!statusFormValid.taxId ? 'danger':'basic' ">
                        </form>
                      </nb-form-field>
                    </div>

                    <!-- <div class="d-inline-flex mt-2"> -->
                    <div class="col-sm-2 p-1">
                      <button nbButton shape="round" size="small" status="info" [disabled]="true">
                        <nb-icon [icon]="'search'" pack="eva">
                        </nb-icon> ค้นหา
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="type" class="label col-sm-2 col-form-label">ประเภท</label>
                <div class="col-sm-10">
                  <!-- <div class="d-flex align-items-baseline"> -->
                  <div class="row">

                    <nb-select class="col-sm-6 p-1" placeholder="ประเภท" formControlName="legalType"
                      [status]="(contactForm.get('general.legalType').errors && contactForm.get('general.legalType').touched) ? 'danger' : 'basic' ">
                      <nb-option-group title="บุคคลธรรมดา">
                        <nb-option value="บุคคลธรรมดา">บุคคลธรรมดา</nb-option>
                        <nb-option value="ร้านค้า">ร้านค้า</nb-option>
                        <nb-option value="คณะบุคคล">คณะบุคคล</nb-option>
                      </nb-option-group>

                      <nb-option-group title="นิติบุคคล">
                        <nb-option value="บริษัทจำกัด">บริษัทจำกัด</nb-option>
                        <nb-option value="บริษัทมหาชนจำกัด">บริษัทมหาชนจำกัด</nb-option>
                        <nb-option value="ห้างหุ้นส่วนจำกัด">ห้างหุ้นส่วนจำกัด</nb-option>
                        <nb-option value="อื่นๆ">อื่นๆ</nb-option>
                      </nb-option-group>
                    </nb-select>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="branch" class="label col-sm-2 col-form-label">สาขา</label>
                <div class="col-sm-10 ">
                  <div class="row align-items-center">
                    <nb-radio-group class="d-flex flex-sm-row flex-column  p-1"
                      formControlName="branch">
                      <nb-radio value="">ไม่ระบุ</nb-radio>
                      <nb-radio value="00000">สำนักงานใหญ่</nb-radio>
                      <nb-radio value="-">สาขา</nb-radio>
                    </nb-radio-group>

                    <form [formGroup]="branchCodeForm" class="branch-code  p-1 align-self-end"
                      *ngIf="contactForm.get('general.branch').value ==='-'">
                      <input type="number" trim nbInput name="branchCode" id="branchCode_1"
                        formControlName="branchCode_1" placeholder="0"
                        [status]="!statusFormValid.branchCode ? 'danger':'basic' ">
                      <input type="number" trim nbInput name="branchCode" id="branchCode_2"
                        formControlName="branchCode_2" placeholder="0"
                        [status]="!statusFormValid.branchCode ? 'danger':'basic' ">
                      <input type="number" trim nbInput name="branchCode" id="branchCode_3"
                        formControlName="branchCode_3" placeholder="0"
                        [status]="!statusFormValid.branchCode ? 'danger':'basic' ">
                      <input type="number" trim nbInput name="branchCode" id="branchCode_4"
                        formControlName="branchCode_4" placeholder="0"
                        [status]="!statusFormValid.branchCode ? 'danger':'basic' ">
                      <input type="number" trim nbInput name="branchCode" id="branchCode_5"
                        formControlName="branchCode_5" placeholder="0"
                        [status]="!statusFormValid.branchCode ? 'danger':'basic' ">
                    </form>
                  </div>


                </div>
              </div>


              <div class="form-group">
                <label for="type" class="label col-sm-2 col-form-label">ชื่อ</label>
                <div class="col-sm-10">
                  <div class="row">

                    <nb-form-field class="col-sm-6 p-1"
                      *ngIf="contactForm.get('general.legalType').value !=='บุคคลธรรมดา'">
                      <input type="text" trim="blur" nbInput id="name" name="name"
                        [placeholder]="'ชื่อ'+ contactForm.get('general.legalType').value"
                        formControlName="name"
                        [status]="(contactForm.get('general.name').errors && contactForm.get('general.name').touched) ? 'danger' : 'basic' ">
                      <nb-icon nbSuffix [icon]="'info-outline'"
                        [status]="(contactForm.get('general.name').errors && contactForm.get('general.name').touched) ? 'danger' : 'primary' "
                        nbTooltip="กรุณาใส่ข้อมูล" nbTooltipPlacement="right"
                        [nbTooltipStatus]="(contactForm.get('general.name').errors && contactForm.get('general.name').touched) ? 'danger' : 'primary' ">
                      </nb-icon>
                    </nb-form-field>

                    <nb-select class="prefix-name p-1 col-12 col-sm-1" id="prefixName"
                      name="prefixName" placeholder="คำนำหน้า" formControlName="prefixName"
                      *ngIf="contactForm.get('general.legalType').value ==='บุคคลธรรมดา'">
                      <nb-option>ไม่ระบุ</nb-option>
                      <nb-option value="นาย">นาย</nb-option>
                      <nb-option value="นาง">นาง</nb-option>
                      <nb-option value="นางสาว">นางสาว</nb-option>
                    </nb-select>

                    <nb-form-field class="p-1 col-12 col-sm"
                      *ngIf="contactForm.get('general.legalType').value ==='บุคคลธรรมดา'">
                      <input type="text" trim nbInput id="firstName" name="firstName"
                        placeholder="ชื่อ" formControlName="firstName"
                        [status]="(contactForm.get('general.name').errors && contactForm.get('general.name').touched) ? 'danger' : 'basic' ">
                      <nb-icon nbSuffix [icon]="'info-outline'"
                        [status]="(contactForm.get('general.name').errors && contactForm.get('general.name').touched) ? 'danger' : 'primary' "
                        nbTooltip="กรุณาใส่ข้อมูล" nbTooltipPlacement="right"
                        [nbTooltipStatus]="(contactForm.get('general.name').errors && contactForm.get('general.name').touched) ? 'danger' : 'primary' ">
                      </nb-icon>
                    </nb-form-field>
                    <nb-form-field class=" p-1 col-12 col-sm"
                      *ngIf="contactForm.get('general.legalType').value ==='บุคคลธรรมดา'">
                      <input type="text" trim nbInput id="lastName" name="lastName"
                        placeholder="นามสกุล" formControlName="lastName">
                    </nb-form-field>
                  </div>


                </div>
              </div>

              <div class="form-group" formGroupName="address">
                <label for="type" class="label col-sm-2 col-form-label">ที่อยู่</label>
                <div class="col-sm-10">
                  <div class="row">

                    <nb-form-field class="col-12 p-1">
                      <!-- <nb-form-field class="col-12 prefix-text-input">
                      <span nbPrefix>เลขที่</span> -->
                      <input type="text" trim="blur" fullWidth nbInput id="line" name="line"
                        formControlName="line"
                        placeholder="เลขที่ ซอย ถนน อาคาร ห้องเลขที่ หรือหมู่บ้าน">
                    </nb-form-field>

                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix>แขวง /<br>ตำบล </span> -->
                      <input type="text" trim nbInput id="subDistrict" name="subDistrict"
                        formControlName="subDistrict" placeholder="แขวง หรือตำบล">
                    </nb-form-field>
                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix>เขต /<br>อำเภอ </span> -->
                      <input type="text" trim nbInput id="district" name="district"
                        formControlName="district" placeholder="เขต หรืออำเภอ">
                    </nb-form-field>

                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix>จังหวัด</span> -->
                      <input type="text" trim nbInput id="province" name="province"
                        placeholder="จังหวัด" formControlName="province"
                        [matAutocomplete]="province">

                      <mat-autocomplete autoActiveFirstOption #province="matAutocomplete">
                        <mat-option *ngFor="let province of filteredProvinces | async"
                          [value]="province">
                          {{ province }}
                        </mat-option>
                      </mat-autocomplete>
                    </nb-form-field>

                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix class="text-break fs-6">ปณ.</span> -->
                      <input type="text" trim nbInput id="postCode" name="postCode"
                        formControlName="postCode" placeholder="รหัสไปรษณีย์">
                    </nb-form-field>

                  </div>

                </div>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>


        <nb-accordion-item [expanded]="true" [disabled]="true">
          <nb-accordion-item-header class="info-item-header">
            <nb-icon nbPrefix icon="radio" pack="eva"></nb-icon>
            <strong>ข้อมูลติดต่อ</strong>
          </nb-accordion-item-header>
          <nb-accordion-item-body expeanded>
            <div class="info-item-detail" formGroupName="communication">

              <div class="form-group">
                <label for="phone" class="label col-sm-2 col-form-label">โทรศัพท์ (หลัก)</label>
                <div class="col-sm-10">
                  <div class="row">
                    <nb-form-field class="col-sm-6 p-1">
                      <input type="text" nbInput id="phone" name="phone" placeholder="เบอร์โทรศัพท์"
                        mask="(000) 000-0000" formControlName="phone">
                    </nb-form-field>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="phone" class="label col-sm-2 col-form-label">โทรศัพท์ (สำรอง)</label>
                <div class="col-sm-10">
                  <div class="row">
                    <nb-form-field class="col-sm-6 p-1">
                      <input type="text" nbInput id="phone" name="phone" placeholder="เบอร์โทรศัพท์"
                        mask="(000) 000-0000" formControlName="telephone">
                    </nb-form-field>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="label col-sm-2 col-form-label">อีเมลล์</label>
                <div class="col-sm-10">
                  <div class="row">
                    <nb-form-field class="col-sm-6 p-1">
                      <input type="text" trim nbInput id="email" name="email" placeholder="อีเมลล์"
                        formControlName="email"
                        [status]="(contactForm.get('communication.email').errors && contactForm.get('communication.email').touched) ? 'danger' : 'basic' ">
                    </nb-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="website" class="label col-sm-2 col-form-label">เว็บไซต์</label>
                <div class="col-sm-10">
                  <div class="row">
                    <nb-form-field class="col-sm-6 p-1">
                      <input type="text" trim nbInput id="website" name="website"
                        placeholder="เว็บไซต์" formControlName="website">
                    </nb-form-field>
                  </div>
                </div>
              </div>

              <div class="form-group" formGroupName="address">
                <label for="type" class="label col-sm-2 col-form-label">ที่อยู่ส่งเอกสาร</label>
                <div class="col-sm-10">
                  <div class="row ">

                    <nb-form-field class="col-sm-6 p-1">
                      <!-- <nb-form-field class="col-12 prefix-text-input">
                      <span nbPrefix>เลขที่</span> -->
                      <input type="text" trim nbInput class="w-100" id="contactName"
                        name="contactName" formControlName="contactName"
                        placeholder="ชื่อผู้ติดต่อ">
                    </nb-form-field>

                    <nb-form-field class="col-12 p-1">
                      <!-- <nb-form-field class="col-12 prefix-text-input">
                      <span nbPrefix>เลขที่</span> -->
                      <input type="text" trim="blur" fullWidth nbInput id="line" name="line"
                        formControlName="line"
                        placeholder="เลขที่ ซอย ถนน อาคาร ห้องเลขที่ หรือหมู่บ้าน">
                    </nb-form-field>

                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix>แขวง /<br>ตำบล </span> -->
                      <input type="text" trim nbInput id="subDistrict" name="subDistrict"
                        formControlName="subDistrict" placeholder="แขวง หรือตำบล">
                    </nb-form-field>
                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix>เขต /<br>อำเภอ </span> -->
                      <input type="text" trim nbInput id="district" name="district"
                        formControlName="district" placeholder="เขต หรืออำเภอ">
                    </nb-form-field>

                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix>จังหวัด</span> -->
                      <input type="text" trim nbInput id="province" name="province"
                        placeholder="จังหวัด" formControlName="province"
                        [matAutocomplete]="province">

                      <mat-autocomplete autoActiveFirstOption #province="matAutocomplete">
                        <mat-option *ngFor="let province of filteredProvinces | async"
                          [value]="province">
                          {{ province }}
                        </mat-option>
                      </mat-autocomplete>
                    </nb-form-field>

                    <nb-form-field class="col-6 p-1">
                      <!-- <span nbPrefix class="text-break fs-6">ปณ.</span> -->
                      <input type="text" trim nbInput id="postCode" name="postCode"
                        formControlName="postCode" placeholder="รหัสไปรษณีย์">
                    </nb-form-field>

                  </div>

                </div>
              </div>

            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>


        <nb-accordion-item [expanded]="true" [disabled]="true" formGroupName="attribute">
          <nb-accordion-item-header class="info-item-header">
            <mat-icon>attribution</mat-icon>
            <strong>คุณสมบัติ</strong>
          </nb-accordion-item-header>
          <nb-accordion-item-body expeanded>
            <div class="info-item-detail">

              <div class="form-group-toggle">
                <label for="type" class="label col-sm-2 col-3 col-form-label">ประเภท</label>
                <div class="col-sm-10">
                  <nb-toggle status="success" labelPosition="end" formControlName="vendor">
                    ผู้ขายสินค้า</nb-toggle>
                </div>
              </div>

              <div class="form-group-toggle">
                <label for="type" class="label col-sm-2 col-3 col-form-label"></label>
                <div class="col-sm-10">
                  <nb-toggle status="info" labelPosition="end" formControlName="customer">
                    ผู้ซื้อสินค้า</nb-toggle>
                </div>
              </div>
            </div>
          </nb-accordion-item-body>
          <nb-accordion-item-body expeanded>
            <div class="info-item-detail">
              <div class="form-group-toggle">
                <label for="type"
                  class="label col-sm-2 col-3 col-form-label">เชื่อมโยงผู้ติดต่อ</label>
                <div class="col-sm-10">
                  <nb-toggle status="warning" labelPosition="end" formControlName="mainContact">
                    บัญชีหลัก
                  </nb-toggle>
                </div>
              </div>

            </div>

          </nb-accordion-item-body>
        </nb-accordion-item>



        <nb-accordion-item [expanded]="true" [disabled]="true">
          <nb-accordion-item-header class="info-item-header">
            <mat-icon>account_balance</mat-icon>
            <span>ข้อมูลธนาคาร</span>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="info-item-detail" formArrayName="bankAccounts"
              *ngFor="let account of contactForm.get('bankAccounts')['controls']; let i =index">
              <div class="form-group" [formGroupName]="i">
                <label for="type" class="label col-sm-2 col-form-label">
                  {{ account.get('main').value? 'บัญชีธนาคาร (หลัก)': 'บัญชีธนาคาร' }}
                </label>
                <div class="col-sm-10">
                  <div class="row ">
                    <div class="col-sm-6 col-11">
                      <div class="row">
                        <nb-select class="col-12 p-1" id="bankName" name="bankName"
                          [status]="(account.get('bankName').errors && account.get('bankName').touched) ? 'danger' : 'basic' "
                          formControlName="bankName" placeholder="ธนาคาร">
                          <nb-option *ngFor="let bank of (banks$|async).banks" [value]="bank.symbol"
                            class="d-flex align-items-center">
                            <i class="bank xxxl mr-2" [class]="'bank-' + bank.symbol"></i>
                            <span>{{bank.name_th}}</span>
                          </nb-option>
                        </nb-select>

                        <nb-form-field class="col-12 p-1">
                          <input type="text" nbInput id="bankNumber" name="bankNumber"
                            mask="000-0-00000-0 || 000-000-0-00000-0 || 00000000000000000000"
                            [status]="(account.get('bankNumber').errors && account.get('bankNumber').touched) ? 'danger' : 'basic' "
                            formControlName="bankNumber" placeholder="เลขบัญชี">
                          <nb-icon nbSuffix [icon]="'info-outline'"
                            [status]="(account.get('bankNumber').errors && account.get('bankNumber').touched) ? 'danger' : 'primary' "
                            nbTooltip="กรุณาใส่ข้อมูล" nbTooltipPlacement="right"
                            [nbTooltipStatus]="(account.get('bankNumber').errors && account.get('bankNumber').touched) ? 'danger' : 'primary' ">
                          </nb-icon>
                        </nb-form-field>

                        <nb-form-field class="col-12 p-1">
                          <input type="text" trim="blur" nbInput id="ownerName" name="ownerName"
                            [status]="(account.get('ownerName').errors && account.get('ownerName').touched) ? 'danger' : 'basic' "
                            formControlName="ownerName" placeholder="ชื่อเจ้าของบัญชี">
                          <nb-icon nbSuffix [icon]="'info-outline'"
                            [status]="(account.get('ownerName').errors && account.get('ownerName').touched) ? 'danger' : 'primary' "
                            nbTooltip="กรุณาใส่ข้อมูล" nbTooltipPlacement="right"
                            [nbTooltipStatus]="(account.get('ownerName').errors && account.get('ownerName').touched) ? 'danger' : 'primary' ">
                          </nb-icon>
                        </nb-form-field>
                      </div>
                    </div>
                    <div class="col-sm-6 col-1 px-0">
                      <button mat-icon-button [matMenuTriggerFor]="bankMenu"
                        [matMenuTriggerData]="{isMain: account.get('main').value, index:i}">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>
                  </div>

                </div>
                <input type="hidden" formControlName="main">
              </div>

            </div>

            <mat-menu #bankMenu="matMenu">
              <ng-template matMenuContent let-main="isMain" let-index="index">
                <button mat-menu-item [disabled]="index===0" (click)="setMainBankAccount(index)">
                  <mat-icon [style.color]="main? 'red' : null">flag</mat-icon>
                  <span>ตั้งบัญชีหลัก</span>
                </button>
                <button mat-menu-item (click)="removeBankAccount(index)">
                  <mat-icon>delete</mat-icon>
                  <span>ลบข้อมูล</span>
                </button>
              </ng-template>

            </mat-menu>

            <div class="d-flex mt-2 justify-content-center">
              <button nbButton size="large" status="info" (click)="addBankAccount()">
                <nb-icon [icon]="'plus'" pack="eva"></nb-icon>
                <span>เพิ่มบัญชีธนาคาร</span>
              </button>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>



    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-between">
        <div>
          <button type="button" nbButton (click)="onClose()">ปิด</button>
        </div>
        <div>

          <button type="button" class="ml-2" nbButton status="primary"
            (click)="onSubmitContactForm()">
            <nb-icon [icon]="'save'" pack="eva"></nb-icon>
            <span>บันทึก</span>
          </button>
        </div>

      </div>

    </nb-card-footer>
  </nb-card>
</form>
