@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// // Small devices
// @mixin sm {
// 	@media (min-width: #{$screen-sm-min}) {
// 		@content;
// 	}
// }

// // Medium devices
// @mixin md {
// 	@media (min-width: #{$screen-md-min}) {
// 		@content;
// 	}
// }

// // Large devices
// @mixin lg {
// 	@media (min-width: #{$screen-lg-min}) {
// 		@content;
// 	}
// }

// // Extra large devices
// @mixin xl {
// 	@media (min-width: #{$screen-xl-min}) {
// 		@content;
// 	}
// }

@include nb-install-component() {
	// position: relative;
	// display: block;
	// overflow: hidden;

	nb-card {
		position: relative;
		max-width: 600px;

		@media (min-width: #{$screen-sm-min}) {
			width: 400px;
		}
	}

	.input-car-id {
		width: 120px;
		text-align: center;
	}

	.status-input {
		padding: 0.5625rem;
		cursor: pointer;
	}

	.subtitle {
		color: nb-theme(text-hint-color);
	}

	nb-checkbox:not(:only-child) {
		margin-right: 1.5rem;
	}

	nb-card-body {
		* > .display-name {
			text-align: center;
		}
		* > .store-name {
			display: flex;
			padding: 0.5rem 1.2rem;
			border-style: solid;
			border-width: 0.0625rem;
			border-radius: 1.5rem;
			background-color: nb-theme(color-basic-transparent-100);
			border-color: nb-theme(color-basic-400);
			color: nb-theme(color-basic-400);

			> * {
				color: nb-theme(color-basic-700);
			}
			mat-icon,
			nb-icon {
				// color: nb-theme(text-hint-color);
				margin-right: 0.25rem;
			}
			> mat-icon + p {
				// color: nb-theme(text-hint-color);
				padding-top: 0.25rem;
				margin: 0;
			}
		}
	}

	nb-card-body.detail {
		border-top: 1px solid #edf1f7;
		border-bottom-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;

		* > nb-icon,
		mat-icon {
			margin-right: 0.25rem;
		}
		* > mat-icon + strong {
			padding-top: 0.25rem;
		}
		* > p {
			color: nb-theme(color-basic-700);
		}
	}
}
