<form [formGroup]="carInfoForm" id="carInfoForm" #ciForm (ngSubmit)="onSubmitContactInfo()">

  <nb-card>
    <nb-card-header>

      <div class="d-flex flex-row justify-content-between">
        <div class="pb-lg-0 pb-2 d-flex align-items-baseline ">
          <h5>{{title}}</h5>
          <div class="pl-2">

          </div>
        </div>
        <div>
          <nb-form-field>
            <div nbPrefix>รหัส</div>
            <input type="text" nbInput class="input-car-id" readonly id="id" name="id"
              formControlName="id">
          </nb-form-field>
        </div>
      </div>

    </nb-card-header>

    <nb-card-body>
      <div class="d-flex flex-row mb-3">

        <div class="col-sm-4">
          <ngx-avatar src="assets/images/alan.png" size="150" [round]="false" cornerRadius="5"
            borderColor="#000">
          </ngx-avatar>
        </div>
        <div class="col-sm-8">
          <h6>
            นายกลมดิ ผ่านกินข้าว
          </h6>
          <span class="subtitle">
            นายกลมดิ ผ่านกินข้าว
          </span>
        </div>

      </div>
      <div class="row">

        <div class="col">
          <div class="form-group">
            <label for="firstName" class="label">ชื่อผู้ติดต่อ</label>
            <nb-form-field>
              <input type="text" nbInput fullWidth id="firstName" placeholder="ชื่อผู้ติดต่อ"
                formControlName="name">

              <div nbSuffix class="status-input">

                <nb-icon [icon]="'alert-triangle'" status="danger" pack="eva"
                  nbTooltip="กรุณาใส่ทะเบียนรถ" nbTooltipPlacement="right" nbTooltipStatus="danger">
                </nb-icon>

                <!-- <nb-icon
                  *ngIf="carInfoForm.get('plateLCN').errors  && carInfoForm.get('plateLCN').touched"
                  [icon]="'alert-triangle'" status="danger" pack="eva" nbTooltip="กรุณาใส่ทะเบียนรถ"
                  nbTooltipPlacement="right" nbTooltipStatus="danger">
                </nb-icon> -->
              </div>
            </nb-form-field>
          </div>

        </div>
      </div>

    </nb-card-body>

    <nb-card-footer>
      <div class="d-flex justify-content-between">
        <div>
          <button type="button" nbButton (click)="onClose()">ปิด</button>
        </div>
        <div>
          <button type="submit" class="ml-2" nbButton [disabled]="this.carInfoForm.invalid"
            [status]="'primary'">
            <nb-icon icon="link-2"></nb-icon>
          </button>
        </div>

      </div>

    </nb-card-footer>
  </nb-card>

</form>
