<nb-card>
  <nb-card-header>
    <div class="container-main-info">
      <div class="main-info">
        <div class="main-info-profile-image">
          <ngx-avatar class="" src="assets/images/alan.png" size="80" [round]="true"
            cornerRadius="5">
          </ngx-avatar>
        </div>

        <div class="main-info-detail">
          <div>
            <p>
              <strong>{{contacts.code + " - " + contacts.name}}</strong>
              <span>
                {{contacts.businessInfo.taxId ? "( เลขภาษีประจำตัว : "+ contacts.businessInfo.taxId +" )" :"" }}
              </span>
            </p>
            <p>
              <span>
                {{contacts.address.line ? "เลขที่ "+ contacts.address.line : ""}}
                {{contacts.address.subDistrict ? "ตำบล"+ contacts.address.subDistrict : ""}}
                {{contacts.address.district ? "อำเภอ"+ contacts.address.district : ""}}
                {{contacts.address.province ? "จังหวัด"+ contacts.address.province : ""}}
                {{contacts.address.country ? contacts.address.country : ""}}
                {{contacts.address.postCode ? contacts.address.postCode : ""}}
              </span>
            </p>
            <div class="type-list">

              <button nbButton shape="round" size="small" status="warning" (click)="onTest()"
                *ngIf="contacts.storeContactId ? true : false">
                <nb-icon nbPrefix icon="home" pack="eva"></nb-icon>
                {{ contacts.storeContactId }}
              </button>
              <button nbButton shape="round" size="small" status="success"
                *ngIf="contacts.type.vendor ? true : false">
                ผู้ขาย
              </button>
              <button nbButton shape="round" size="small" status="info"
                *ngIf="contacts.type.customer ? true : false">
                ลูกค้า
              </button>
            </div>


          </div>
        </div>
      </div>
      <div class="main-action">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="ข้อมูลธุรกิจ">
        <div class="container-info-items">
          <div class="row">
            <!-- ข้อมูลจดทะเบียนบริษัท -->
            <div class="info-item">
              <div class="info-item-header">
                <nb-icon nbPrefix icon="briefcase" pack="eva"></nb-icon>
                ข้อมูลพื้นฐาน
              </div>
              <div class="info-item-detail">
                <div class="row">
                  <div class="col-4">
                    ประเภทกิจการ :
                  </div>
                  <div class="col-8">
                    {{ contacts.businessInfo.legalType }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    เลขทะเบียนนิติบุคคล :
                  </div>
                  <div class="col-8">
                    {{ contacts.businessInfo.taxId }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    เลขที่สาขา :
                  </div>
                  <div class="col-8">
                    {{
                      !contacts.businessInfo.branch ? null :
                      contacts.businessInfo.branch ===  "00000" ? "สำนักงานใหญ่ ( 00000 )" : contacts.businessInfo.branch

                    }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    ที่อยู่จดทะเบียน :
                  </div>
                  <div class="col-8">
                    {{contacts.address.line ? "เลขที่ "+ contacts.address.line : ""}}
                    {{contacts.address.subDistrict ? "ตำบล"+ contacts.address.subDistrict : ""}}
                    {{contacts.address.district ? "อำเภอ"+ contacts.address.district : ""}}
                    {{contacts.address.province ? "จังหวัด"+ contacts.address.province : ""}}
                    {{contacts.address.country ? contacts.address.country : ""}}
                    {{contacts.address.postCode ? contacts.address.postCode : ""}}
                  </div>
                </div>
              </div>
            </div>
            <!-- ข้อมูลติดต่อ -->
            <div class="info-item">
              <div class="info-item-header">
                <nb-icon nbPrefix icon="radio" pack="eva"></nb-icon>
                ข้อมูลติดต่อ
              </div>
              <div class="info-item-detail">
                <div class="row">
                  <div class="col-4">
                    เบอร์โทรศัพท์ :
                  </div>
                  <div class="col-8">
                    085-399-4193, 094-340-5355
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    อีเมลกลาง :
                  </div>
                  <div class="col-8">
                    {{contacts.communicateInfo.email ? contacts.communicateInfo.email : "-"}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    เว็บไซต์ :
                  </div>
                  <div class="col-8">
                    {{contacts.communicateInfo.website ? contacts.communicateInfo.website : "-"}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    ไลน์ไอดี :
                  </div>
                  <div class="col-8">
                    {{contacts.communicateInfo.line ? contacts.communicateInfo.line : "-"}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    ที่อยู่ส่งเอกสาร :
                  </div>
                  <div class="col-8">
                    {{
                      !contacts.communicateInfo.officeAddress ? "-" :
                      !contacts.communicateInfo.officeAddress.line ? "" : "เลขที่ "+ contacts.communicateInfo.officeAddress.line + " " +
                      !contacts.communicateInfo.officeAddress.subDistrict ? "" : "ตำบล"+ contacts.communicateInfo.officeAddress.subDistrict + " " +
                      !contacts.communicateInfo.officeAddress.district ? "" : "อำเภอ"+ contacts.communicateInfo.officeAddress.district + " " +
                      !contacts.communicateInfo.officeAddress.province ? "" : "จังหวัด"+ contacts.communicateInfo.officeAddress.province + " " +
                      !contacts.communicateInfo.officeAddress.country ? "" : contacts.communicateInfo.officeAddress.country + " " +
                      !contacts.communicateInfo.officeAddress.postCode ? "" : contacts.communicateInfo.officeAddress.postCode
                    }}
                  </div>
                </div>

              </div>
            </div>
            <!-- ข้อมูลธนาคาร -->
            <div class="info-item">
              <div class="info-item-header ">
                <mat-icon>account_balance</mat-icon>
                <span>ข้อมูลธนาคาร</span>
              </div>
              <div class="info-item-detail">
                <div class="row info-item-detail-bank"
                  *ngFor="let account of contacts.bankAccounts">
                  <ng-container *ngIf="account.order === 1">
                    <div class="col-4">
                      บัญชีหลัก :
                    </div>
                    <div class="col-8">
                      <i class="bank xxxxl " [class]="'bank-' + account.bank.bankName"></i>
                      <div>
                        <span>{{ account.bank.name }}</span>
                        <span>
                          {{ account.bank.bankName + " " + account.bank.number  }}
                        </span>
                      </div>
                    </div>
                  </ng-container>
                </div>

                <ng-container *ngIf="contacts.bankAccounts.length > 1">
                  <div class="row info-item-detail-bank"
                    *ngFor="let account of contacts.bankAccounts">
                    <ng-container *ngIf="account.order !== 1">
                      <div class="col-4">
                        {{ "บัญชีสำรอง " + (account.order - 1) +" :"}}
                      </div>
                      <div class="col-8">
                        <i class="bank xxxxl " [class]="'bank-' + account.bank.bankName"></i>
                        <div>
                          <span>{{ account.bank.name }}</span>
                          <span>
                            {{ account.bank.bankName + " " + account.bank.number  }}
                          </span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>



              </div>
            </div>
            <!-- ผู้ติดต่อ -->
            <div class="info-item">
              <div class="info-item-header">
                <mat-icon>group</mat-icon>
                ผู้ติดต่อ
              </div>
              <div class="info-item-detail">
                <div class="row info-item-detail-person">
                  <div class="col-4">
                    บุคคลที่ 1 :
                  </div>
                  <div class="col-8">
                    <div>
                      <ngx-avatar class="person-profile-image" src="assets/images/alan.png"
                        size="60" [round]="true" cornerRadius="5"></ngx-avatar>
                    </div>
                    <div>
                      <div>
                        <strong>นาย เกียรติพงศ์ แซ่ตั้ง - C0001</strong>
                      </div>
                      <div>
                        <mat-icon>assignment_ind</mat-icon>
                        <span>ประธานบริษัท</span>
                      </div>
                      <div>
                        <mat-icon>phone</mat-icon>
                        <span>(085)-495-1894</span>
                      </div>
                      <div>
                        <mat-icon>email</mat-icon>
                        <span>thaisuthat.recycle@gmail.com</span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </nb-tab>

      <nb-tab tabTitle="ข้อมูลซื้อ-ขาย">
        <p>ฟีเจอร์ในอนาคต (เร็วๆนี้)</p>
        <p>1. ระดับสมาชิก</p>
        <p>2. ข้อมูลซื้อขาย</p>
        <p>3. ข้อมูลรถ</p>
      </nb-tab>

      <nb-tab tabTitle="ข้อมูลทางบัญชี">
        <p>ฟีเจอร์ในอนาคต</p>
        <p>1. การบันทึกทางบัญชี (เร็วๆนี้)</p>
      </nb-tab>


    </nb-tabset>
  </nb-card-body>
</nb-card>
