<div class="nav-menu">
  <a href="">
    <nb-icon nbPrefix icon="person" pack="eva"></nb-icon>
    ผู้ติดต่อ
  </a>
  <span>
    <span class="pr-2">></span>
    <span>customer name</span>
  </span>
</div>

<nb-card>
  <nb-card-header>
    <div class="d-flex flex-row justify-content-between">
      <div class="main-detail d-flex justify-content-center">
        <ngx-avatar src="assets/images/alan.png" size="80" [round]="true" cornerRadius="5"
          class="pr-3">
        </ngx-avatar>
        <div class="d-flex align-items-start flex-column bd-highlight">
          <div class="p-2">
            <p class="my-1"><strong>C0001 - ไทยสุทัศน์</strong> &nbsp;( Tax ID : 0303042903029 )
            </p>
            <p class="mt-2">เลขที่ 135 หมู่ที่ 7 ถ.มิตรภาพ ต.โนนท่อน อ.เมือง จ.ขอนแก่น 40000</p>
          </div>
        </div>
      </div>
      <div class="action">
        <nb-icon icon="menu"></nb-icon>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="ข้อมูลธุรกิจ">
        <div class="container-info-items">
          <div class="row">
            <div class="info-item">
              <div class="info-item-header">
                <nb-icon nbPrefix icon="briefcase" pack="eva"></nb-icon>
                ข้อมูลจดทะเบียนบริษัท
              </div>
              <div class="info-item-detail">
                <div class="row">
                  <div class="col-4">
                    ประเภทกิจการ :
                  </div>
                  <div class="col-8">
                    ห้างหุ้นส่วนจำกัด
                  </div>
                  <div class="col-4">
                    เลขทะเบียนนิติบุคคล :
                  </div>
                  <div class="col-8">
                    0403537001866
                  </div>
                  <div class="col-4">
                    เลขที่สาขา :
                  </div>
                  <div class="col-8">
                    ( 00000 ) ( สำนักงานใหญ่ )
                  </div>
                  <div class="col-4">
                    ที่อยู่จดทะเบียน :
                  </div>
                  <div class="col-8">
                    เลขที่ 126/1 หมู่ 3 ถนนมิตรภาพ แขวง/ตำบล ศิลา เขต/อำเภอ เมืองขอนแก่น จังหวัด
                    ขอนแก่น ไทย 40000
                  </div>
                </div>
              </div>
            </div>

            <div class="info-item">
              <div class="info-item-header">
                <nb-icon nbPrefix icon="briefcase" pack="eva"></nb-icon>
                ข้อมูลจดทะเบียนบริษัท
              </div>
              <div class="info-item-detail">
                <div class="row">
                  <div class="col-4">
                    ประเภทกิจการ :
                  </div>
                  <div class="col-8">
                    ห้างหุ้นส่วนจำกัด
                  </div>
                  <div class="col-4">
                    เลขทะเบียนนิติบุคคล :
                  </div>
                  <div class="col-8">
                    0403537001866
                  </div>
                  <div class="col-4">
                    เลขที่สาขา :
                  </div>
                  <div class="col-8">
                    ( 00000 ) ( สำนักงานใหญ่ )
                  </div>
                  <div class="col-4">
                    ที่อยู่จดทะเบียน :
                  </div>
                  <div class="col-8">
                    เลขที่ 126/1 หมู่ 3 ถนนมิตรภาพ แขวง/ตำบล ศิลา เขต/อำเภอ เมืองขอนแก่น จังหวัด
                    ขอนแก่น ไทย 40000
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-tab>

      <nb-tab tabTitle="ข้อมูลซื้อ-ขาย">
        <p>List of <strong>orders</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="ข้อมูลรถ">
        <p>List of <strong>orders</strong>.</p>
      </nb-tab>

    </nb-tabset>
  </nb-card-body>
</nb-card>
