<nb-card>
  <nb-card-header>
    <div class="container-main-info">
      <div class="main-info">
        <div class="main-info-profile-image">
          <ngx-avatar class=""
            [src]="contacts.profileUrl === '' ? 'assets/images/blank_profile.png' : (profileUrl | async)"
            size="80" [round]="true" cornerRadius="5">
          </ngx-avatar>
        </div>

        <div class="main-info-detail">
          <div>
            <p>
              <strong>
                {{
                  contacts.general.legalType === "บุคคลธรรมดา"?
                  (contacts.code + " - " + (contacts.general.prefixName? contacts.general.prefixName + " " : "")  +
                  contacts.general.firstName + " " +
                  contacts.general.lastName) :
                  (contacts.code + " - " + contacts.general.name)
                }}</strong>
              <span>
                {{contacts.general.taxId ? "( เลขภาษีประจำตัว : "+ contacts.general.taxId +" )" :"" }}
              </span>
            </p>
            <p>
              <span>
                {{contacts.general.address.line ? "เลขที่ "+ contacts.general.address.line : ""}}
                {{contacts.general.address.subDistrict ? "ตำบล"+ contacts.general.address.subDistrict : ""}}
                {{contacts.general.address.district ? "อำเภอ"+ contacts.general.address.district : ""}}
                {{contacts.general.address.province ? "จังหวัด"+ contacts.general.address.province : ""}}
                {{contacts.general.address.country ? contacts.general.address.country : ""}}
                {{contacts.general.address.postCode ? contacts.general.address.postCode : ""}}
              </span>
            </p>
            <div class="type-list">

              <button nbButton shape="round" size="small" status="warning" (click)="onTest()"
                *ngIf="contacts.attribute.mainContact">
                <nb-icon nbPrefix icon="home" pack="eva"></nb-icon>
                {{ contacts.attribute.mainContact }}
              </button>
              <button nbButton shape="round" size="small" status="success"
                *ngIf="contacts.attribute.vendor ? true : false">
                ผู้ขาย
              </button>
              <button nbButton shape="round" size="small" status="info"
                *ngIf="contacts.attribute.customer ? true : false">
                ลูกค้า
              </button>
            </div>


          </div>
        </div>
      </div>
      <div class="main-action">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <ng-template matMenuContent let-main="isMain" let-index="index">
            <button mat-menu-item (click)="onEditContact()">
              <mat-icon>edit</mat-icon>
              <span>แก้ไขข้อมูล</span>
            </button>
            <button mat-menu-item (click)="showDeleteConfirm(dialogDeleteConfirm)">
              <mat-icon>delete</mat-icon>
              <span>ลบข้อมูล</span>
            </button>
          </ng-template>

        </mat-menu>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="ข้อมูลธุรกิจ">
        <div class="container-info-items">
          <div class="row">
            <!-- ข้อมูลจดทะเบียนบริษัท -->
            <div class="info-item">
              <div class="info-item-header">
                <nb-icon nbPrefix icon="briefcase" pack="eva"></nb-icon>
                ข้อมูลพื้นฐาน
              </div>
              <div class="info-item-detail">
                <div class="row">
                  <div class="col-4">
                    ประเภทกิจการ :
                  </div>
                  <div class="col-8">
                    {{ contacts.general.legalType }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    เลขทะเบียนนิติบุคคล :
                  </div>
                  <div class="col-8">
                    {{ contacts.general.taxId ? contacts.general.taxId : '-' }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    เลขที่สาขา :
                  </div>
                  <div class="col-8">
                    {{
                      !contacts.general.branch ? "-" :
                      contacts.general.branch ===  "00000" ? "สำนักงานใหญ่ ( 00000 )" : contacts.general.branch

                    }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    ที่อยู่จดทะเบียน :
                  </div>
                  <div class="col-8">
                    {{contacts.general.address.line ? "เลขที่ "+ contacts.general.address.line : ""}}
                    {{contacts.general.address.subDistrict ? "ตำบล"+ contacts.general.address.subDistrict : ""}}
                    {{contacts.general.address.district ? "อำเภอ"+ contacts.general.address.district : ""}}
                    {{contacts.general.address.province ? "จังหวัด"+ contacts.general.address.province : ""}}
                    {{contacts.general.address.country ? contacts.general.address.country : ""}}
                    {{contacts.general.address.postCode ? contacts.general.address.postCode : ""}}
                  </div>
                </div>
              </div>
            </div>
            <!-- ข้อมูลติดต่อ -->
            <div class="info-item">
              <div class="info-item-header">
                <nb-icon nbPrefix icon="radio" pack="eva"></nb-icon>
                ข้อมูลติดต่อ
              </div>
              <div class="info-item-detail">
                <div class="row">
                  <div class="col-4">
                    เบอร์โทรศัพท์ :
                  </div>
                  <div class="col-8">
                    {{contacts.communication.phone | mask: '(000) 000-0000'}}
                    {{contacts.communication.phone?"":"-" }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    เบอร์โทรศัพท์ (สำรอง) :
                  </div>
                  <div class="col-8">
                    {{contacts.communication.telephone | mask: '(000) 000-0000'}}
                    {{contacts.communication.telephone?"":"-" }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    อีเมลกลาง :
                  </div>
                  <div class="col-8">
                    {{contacts.communication.email ? contacts.communication.email : "-"}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    เว็บไซต์ :
                  </div>
                  <div class="col-8">
                    {{contacts.communication.website ? contacts.communication.website : "-"}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    ไลน์ไอดี :
                  </div>
                  <div class="col-8">
                    {{contacts.communication.line ? contacts.communication.line : "-"}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    ที่อยู่ส่งเอกสาร :
                  </div>
                  <div class="col-8">
                    {{
                      !contacts.communication.address ? "-" :
                      !contacts.communication.address.line ? "" : "เลขที่ "+ contacts.communication.address.line + " " +
                      !contacts.communication.address.subDistrict ? "" : "ตำบล"+ contacts.communication.address.subDistrict + " " +
                      !contacts.communication.address.district ? "" : "อำเภอ"+ contacts.communication.address.district + " " +
                      !contacts.communication.address.province ? "" : "จังหวัด"+ contacts.communication.address.province + " " +
                      !contacts.communication.address.country ? "" : contacts.communication.address.country + " " +
                      !contacts.communication.address.postCode ? "" : contacts.communication.address.postCode
                    }}
                  </div>
                </div>

              </div>
            </div>
            <!-- ข้อมูลธนาคาร -->
            <div class="info-item" *ngIf="contacts.bankAccounts">
              <div class="info-item-header ">
                <mat-icon>account_balance</mat-icon>
                <span>ข้อมูลธนาคาร</span>
              </div>
              <div class="info-item-detail">
                <div class="row info-item-detail-bank"
                  *ngFor="let account of contacts.bankAccounts">
                  <ng-container *ngIf="account.main">
                    <div class="col-4">
                      บัญชีหลัก :
                    </div>
                    <div class="col-8">
                      <i class="bank xxxxl " [class]="'bank-' + account.bankName"></i>
                      <div>
                        <span>
                          {{ account.bankName + " " + account.bankNumber  }}
                        </span>
                        <span>{{ account.ownerName }}</span>
                      </div>
                    </div>
                  </ng-container>
                </div>

                <ng-container *ngIf="contacts.bankAccounts.length > 1">
                  <div class="row info-item-detail-bank"
                    *ngFor="let account of contacts.bankAccounts; let i = index">
                    <ng-container *ngIf="!account.main">
                      <div class="col-4">
                        {{ "บัญชีสำรอง " + (i) +" :"}}
                      </div>
                      <div class="col-8">
                        <i class="bank xxxxl " [class]="'bank-' + account.bankName"></i>
                        <div>
                          <span>
                            {{ account.bankName + " " + account.bankNumber  }}
                          </span>
                          <span>{{ account.ownerName }}</span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>



              </div>
            </div>
            <!-- ผู้ติดต่อ -->
            <div class="info-item">
              <div class="info-item-header">
                <mat-icon>group</mat-icon>
                ผู้ติดต่อ
              </div>
              <div class="info-item-detail">
                <div class="row info-item-detail-person">
                  <div class="col-4">
                    บุคคลที่ 1 :
                  </div>
                  <div class="col-8">
                    <div>
                      <ngx-avatar class="person-profile-image" src="assets/images/alan.png"
                        size="60" [round]="true" cornerRadius="5"></ngx-avatar>
                    </div>
                    <div>
                      <div>
                        <strong>นาย เกียรติพงศ์ แซ่ตั้ง - C0001</strong>
                      </div>
                      <div>
                        <mat-icon>assignment_ind</mat-icon>
                        <span>ประธานบริษัท</span>
                      </div>
                      <div>
                        <mat-icon>phone</mat-icon>
                        <span>(085)-495-1894</span>
                      </div>
                      <div>
                        <mat-icon>email</mat-icon>
                        <span>thaisuthat.recycle@gmail.com</span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </nb-tab>

      <nb-tab tabTitle="ข้อมูลซื้อ-ขาย">
        <p>ฟีเจอร์ในอนาคต (เร็วๆนี้)</p>
        <p>1. ระดับสมาชิก</p>
        <p>2. ข้อมูลซื้อขาย</p>
        <p>3. ข้อมูลรถ</p>
      </nb-tab>

      <nb-tab tabTitle="ข้อมูลทางบัญชี">
        <p>ฟีเจอร์ในอนาคต</p>
        <p>1. การบันทึกทางบัญชี (เร็วๆนี้)</p>
      </nb-tab>


    </nb-tabset>
  </nb-card-body>
</nb-card>


<ng-template #dialogDeleteConfirm let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>ยืนยันลบข้อมูล</nb-card-header>
    <nb-card-body>คุณต้องการลบ {{ data.code }} หรือไม่</nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-between">
        <button nbButton (click)="ref.close()">ยกเลิก</button>
        <button nbButton status="danger" (click)="onDeleteContact(ref)">ยืนยัน</button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
